<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<div class="container body-content">

    <header th:replace="fragments :: header"></header>

    <table class="table table-striped">
        <tr th:each="colony : ${colonies}">
            <td>
                <p>
                    Colony Id:
                    <a th:text="${colony.id}"></a>
                </p>
                <p>
                    Address:
                    <a th:text="${colony.address}"></a>
                </p>
                <p>
                    Description of location:
                    <a th:text="${colony.locationDescription}"></a>
                </p>
                <p>
                    Number of Est. cats in colony:
                    <a th:text="${colony.numCatsInColony}"></a>
                </p>
                <p>
                    Located on private property:
                    <a th:text="${colony.isPrivateProperty}"></a>
                </p>
            </td>
        </tr>
    </table>
</div>
</body>
</html>