<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<div class="container body-content">

    <header th:replace="fragments :: header"></header>

<!--    <table>-->
<!--        <tr th:each="colony : ${colonies}">-->
<!--            <td>-->
<!--                <p>-->
<!--                    Colony Id:-->
<!--                    <a th:text="${colony.id}"></a>-->
<!--                </p>-->
<!--                <p>-->
<!--                    Address:-->
<!--                    <a th:text="${colony.address}"></a>-->
<!--                </p>-->
<!--                <p>-->
<!--                    Description:-->
<!--                    <a th:text="${colony.description}"></a>-->
<!--                </p>-->
<!--                <p>-->
<!--                    Number of Est. cats in colony:-->
<!--                    <a th:text="${colony.numCatsInColony}"></a>-->
<!--                </p>-->
<!--                <p>-->
<!--                    Private Property:-->
<!--                    <a th:text="${colony.isPrivateProperty}"></a>-->
<!--                </p>-->
<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->
List works
</div>
</body>
</html>