<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<header th:replace="fragments :: header"></header>

<form method = "post">

    <div class="form-group">
        <label>Shelter Location Description
            <input type="checkbox" name="shelterLocationDescription" th:value="${shelter.shelterLocationDescription}">
        </label>
        <p th:errors="${shelter.shelterLocationDescription}"></p>
    </div>

    <div class="form-group">
        <label>Is the Shelter Insulated?
            <input type="checkbox" name="isInsulated" th:value="${shelter.isInsulated}">
        </label>
        <p th:errors="${shelter.isInsulated}"></p>
    </div>

    <div class="form-group">
        <label>Does the shelter have a straw bedding?
            <input type="checkbox" name="hasStraw" th:value="${shelter.hasStraw}">
        </label>
        <p th:errors="${shelter.hasStraw}"></p>
    </div>

    <input type="submit" value="Create Shelter" />


</form>

</body>
</html>